#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav,
.nav {
  padding: 30px;

  a {
    margin-right: 15px;
    font-weight: bold;
    color: #2c3e50 !important;

    &.router-link-exact-active {
      color: #42b983 !important;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: .2s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.99);
}

.film,
.post {
  margin: 50px auto;
  max-width: 500px;
  &__item {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 15px;
    transition: .2s;
  }
}

.post {
  margin-top: 0;
}

$default: #333;
* {
  box-sizing: border-box;
}

form {
  max-width: 550px;
  padding: 20px;
  margin: 50px auto;
  text-align: left;
}

fieldset {
  padding: 15px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input:not([type="checkbox"]) {
  outline: none;
  height: 40px;
  width: 100%;
  border-radius: 25px;
  border-width: 1px;
  padding: 0 20px;
  transition: .4s ease-out;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 10px;
  &+label {
    display: inline-block;
    vertical-align: middle;
  }
}

.input-error {
  input {
    border-color: red;
    animation: shake .6s;
  }
}

fieldset {
  border: none;
}

fieldset:not(.input-error) .error {
  display: none;
}

.error {
  display: block;
  color: red;
  margin: 5px 0;
  padding: 0 20px;
  font-size: 12px;
  text-align: left;
}

.md-progress-spinner.md-indeterminate .md-progress-spinner-circle {
  stroke: red;
}

.md-snackbar {
  background-color: #333;
  color: #fff;
  text-align: center;
  span {
    width: 100%;
  }
}

.button-wrap {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

//Animate css
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp
}

@keyframes fadeInDown {
  0% {
    opacity: 1;
    transform: translate3d(0, -20px, 0)
  }
  to {
    opacity: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown
}

.md-snackbar.md-position-center {
  border-radius: 4px;
  top: 20px;
  bottom: auto;
}

.md-dialog .md-button {
  z-index: 100;
}

.md-dialog-container {
  overflow-y: auto !important;
}


/*================================================================================
PRELOADER
================================================================================*/

.icon-load {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transform: translate3d(0, -100%, 0);
  transition: 0.6s ease-out;
}

.active.icon-load {
  transform: translate3d(0, 0%, 0);
}

.sk-folding-cube {
  width: 40px;
  height: 40px;
  transform: rotateZ(45deg);
}

.sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  background: #333;
  transform: scale(0.94);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #AFEEEE;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  transform: scale(0.94) rotateZ(90deg)
}

.sk-folding-cube .sk-cube3 {
  transform: scale(0.94) rotateZ(180deg)
}

.sk-folding-cube .sk-cube4 {
  transform: scale(0.94) rotateZ(270deg)
}

.sk-folding-cube .sk-cube2:before {
  animation-delay: .3s
}

.sk-folding-cube .sk-cube3:before {
  animation-delay: .6s
}

.sk-folding-cube .sk-cube4:before {
  animation-delay: .9s
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0
  }
}
